{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h1>회사 블로그</h1>
</div>
<div class="container">
    {% for post in posts.items %}
    <div class="card">
        <div class="card-body">
            <h2><a href="card-title" href="{{url_for('posts.post', post_id=post.id)}}">{{post.title}}</a></h2>
            <a href="{{url_for('users.user_posts', username=post.author.username)}}">작성자 : {{post.author.username}}</a>
            <p>게시일 : {{post.date.strftime('%Y-%m-%d')}}</p>
            <a class="btn btn-primary" href="{{url_for('posts.post', post_id=post.id)}}">포스트 읽기</a>
        </div>
    </div>
    {% endfor %}
</div>

<!-- 페이징 처리 -->
<nav aria-label="Page Navigation example">
    <ul class="pagination justify-content-center">
        {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
        {% if posts.page == page_num %}
        <li class="page-item disabled">
            <a class="page-link"
                href="{{url_for('core.index', page=page_num)}}">{{page_num}}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link"
                href="{{url_for('core.index', page=page_num)}}">{{page_num}}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>

{% endblock %}